html,body,div,span,applet,object,iframe,
h1,h2,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

/* Table of Contents
------------------------------------
Clearfix
Primary Header
Header: Left Side
Navigation
Links
Dropdown Menu
Structure
Button Default
Button Custom Styles
Button Effects
*/

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Primary Header
  ========================================
*/

.primary-header {
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.4);
  font-family: sans-serif;
}


/*
  ========================================
  Header: Left Side
  ========================================
*/

.header-left {
  background-color: rgba(0,0,0,0) !important;
  border-bottom: 0 !important;
  float: left;
}
#logo, #logo-text {
  line-height: 60px;
  vertical-align: middle;
}
#logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 8px;
}
#logo-text {
  color: #fff;
  display: inline;
  font-size: 22px;
  font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  float: right;
  position: relative;
  text-align: right;
  z-index: 5; 
}
.nav li {
  display: inline-block;
  float: left;
  line-height: 60px;
  margin: 0 10px;  
  position: relative;
}

/*
  ========================================
  Links
  ========================================
*/

#logo:hover {
  opacity: 0.7;
}
.primary-header a {
  color: #fff !important;
  padding: 5px !important;
  text-decoration: none !important;
}
.primary-header a:hover {
  color: #FE7DB9 !important;
}

/*
  ========================================
  Dropdown Menu
  ========================================
*/

.nav ul ul {
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
}
.nav ul ul li {
  width: 120px;
  line-height: 45px;
  margin: 0;
  text-align: left;
}
.nav ul ul li:hover {
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
}
.nav ul ul li a {
  color: #bbb;
}
.nav ul ul li a:hover {
  color: #FE7DB9;
}
.nav li:hover ul {
  display: block;
}

/*
  ========================================
  Structure
  ========================================
*/

section {
  margin-left: 3%;
  margin-bottom: 3%;
}

/*
  ========================================
  Button Default
  ========================================
*/

.button {
	width: 100px;
	height: 50px;
	background-color: #DEC3A5;
	border: 0;
	border-bottom: 4px solid #C9B095;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-family: sans-serif;
	font-weight:900;
	line-height: 3em;
	margin-right: 15px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

/*
  ========================================
  Button Custom Styles
  ========================================
*/

div {
	background-color: #DFA69B !important;
	border-bottom: 4px solid #C29288 !important;
}
a {
	xbackground-color: #DFDAA3 !important;
	xborder-bottom: 4px solid #CCC896 !important;
}
.button-sm {
	width: 125px;
	height: 25px;
	background-color: #C7E09E !important;
	border-bottom: 4px solid #B8CF92 !important;
	font-size: 12px;
}
.button-md {
	width: 145px;
	height: 35px;
	background-color: #B7DF9F !important;
	border-bottom: 4px solid #A6CB90 !important;
	font-size: 14px;
}
.button-lg {
	width: 165px;
	height: 45px;
	background-color: #A6DC99 !important;
	border-bottom: 4px solid #91C086 !important;
}

/*
  ========================================
  Button Effects
  ========================================
*/

.button:hover {
	/* background-color: hsla(360,50%,60%,0.5); */
	color: #000;
	cursor: pointer;
}


/* div button: basic button */
div:active {
	border-bottom: 4px solid #DFA69B !important;
	border-top: 4px solid #C29288 !important;
}

/* button with button class */
.button:active {
	border-bottom: 4px solid #DEC3A5;
	border-top: 4px solid #C9B095;
}

/* anchor with button class */
a:active {
	xborder-bottom: 4px solid #DFDAA3 !important;
	xborder-top: 4px solid #CCC896 !important;
}

.button-sm:active {
	border-bottom: 4px solid #C7E09E !important;
	border-top: 4px solid #B8CF92 !important;
}
.button-md:active {
	border-bottom: 4px solid #B7DF9F !important;
	border-top: 4px solid #A6CB90 !important;
}
.button-lg:active {
	border-bottom: 4px solid #A6DC99 !important;
	border-top: 4px solid #91C086 !important;
}
