/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Table of Contents
------------------------------------
Structure
Images
Typography
Border Effect


*/

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Primary Header
  ========================================
*/

.primary-header {
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.4);
}


/*
  ========================================
  Header: Left Side
  ========================================
*/

.header-left {
  float: left;
}
#logo, #logo-text {
  line-height: 60px;
  vertical-align: middle;
}
#logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 8px;
}
#logo-text {
  color: #fff;
  display: inline;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-left: -25px;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  float: right;
  position: relative;
  text-align: right;
  z-index: 5; 
}
.nav li {
  display: inline-block;
  float: left;
  line-height: 60px;
  margin: 0 10px;  
  position: relative;
}

/*
  ========================================
  Links
  ========================================
*/

#logo:hover {
  opacity: 0.7;
}
.primary-header a {
  color: #fff;
  font-family: sans-serif;
  padding: 5px;
  text-decoration: none;
}
.primary-header a:hover {
  color: #FE7DB9;
}

/*
  ========================================
  Dropdown Menu
  ========================================
*/

.nav ul ul {
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
}
.nav ul ul li {
  width: 120px;
  line-height: 45px;
  margin: 0;
  text-align: left;
}
.nav ul ul li:hover {
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
}
.nav ul ul li a {
  color: #bbb;
}
.nav ul ul li a:hover {
  color: #FE7DB9;
}
.nav li:hover ul {
  display: block;
}


/*
  ========================================
  Structure
  ========================================
*/

body {
  background-color: #fff; /*change bg color: GREY */
  height: 100%;
}
.container {
  width: 40%;
  background-color: #fff; /* change box color: WHITE */;
  border: 10px solid #FFCC89;
  border-radius: 5px; /* ??convert 5px to percentage */
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075); /* ??convert px to percentage */
     -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075); /* ??convert px to percentage */
          box-shadow: 0 2px 5px rgba(0,0,0,0.075); /* ??convert px to percentage */
  margin: 18% auto; /* convert 100px to percentage */
  padding: 0; /* convert 20px to percentage */
  position: relative;
  z-index: 5;
  text-align: center;
}

/*
  ========================================
  Images
  ========================================
*/

/* placing cursor over profile card, rotates the avatar */
.container:hover .avatar {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg); /* check if moz REQ */
          transform: rotateY(180deg);
}
/* placing cursor over profile card, hides front image */
.container:hover .avatar img:first-child {
  opacity: 0;
  visibility: hidden;
}
/*placing cursor over profile card, back image remains visible */
.container:hover .avatar img:last-child {
  opacity: 1;
  visibility: visible;
}
.avatar {
  border-radius: 50%; /* forms circle around images */
  -webkit-box-shadow: 0 0 0 10px #FFCC89;
     -moz-box-shadow: 0 0 0 10px #FFCC89;
          box-shadow: 0 0 0 10px #FFCC89; /* creates shadow around border-radius of images */
  height: 200px; /* change px to percentage */
  margin: auto; /* centers images */
  overflow: hidden; /* hides content that does not fit w/in box */
  position: relative;
  top: -75px; /* moves images up 60 pixels, onto .container */
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; /* test last part "ease", change? */
        transition: all 0.5s ease-in-out; /* read 2 links, allows :hover rules to occur */
  width: 200px; /* ?? moves second img to next line, change px to percentage */
}
.avatar img { /* ?? this rule cause the front img to disappear */
  border-radius: 50%; /* is this line necessary? */
  position: absolute; /* keeps image in place */
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out; /* like extra insurance */
          transition: all 0.5s ease-in-out; /* not sure if this declaration, if move cursor to img also takes place*/
}
.avatar img:first-child {
  z-index: 1; /* places img above :last-child */
}
.avatar img:last-child {
  z-index: 0; /* places img underneath :first-child */
}

/*
  ========================================
  Typography
  ========================================
*/

h2 {
  color: #333; /* change, like darker ver of bg, color03 */
  font-family: 'Press Start 2P';
  font-size: 32px; /* double the size of <p> font */
  margin-top: -20px;
  margin-bottom: 18px; /* creates space between h2 and h4 */
}
h4 {
  color: #01C8D2;
  font-family: 'Press Start 2P';
  font-size: 14px; /* smaller font-size than p text */
  letter-spacing: 1px; /* spacing between letters */
  margin-top: 30px;
  margin-bottom: 25px; /* creates space between h4 and p */
}
.lname, .title {
  font-family: 'Press Start 2P';
  font-weight: 600;
  letter-spacing: 8px;
}
p {
  color: #777; /* change, color 03 like h2, can be diff */
  font-family: 'Press Start 2P';
  font-size: 14px;
  line-height: 26px; /* create spacing between lines in p */
  margin-bottom: 30px; /* ?? create area to add icons later */
  padding: 0 25px;
  text-align: justify;
}
.platform {
  color: #FCB3FC;
  text-decoration: none;
}
.footnote {
  font-family: 'Press Start 2P';
  font-size: 7px;
  margin-bottom: 0;
  text-align: right;
}
.avatar-site {
  font-style: italic;
}

/*
  ========================================
  Blinking Cursor
  ========================================
*/



/*
  ========================================
  Social Links
  ========================================
*/

.social-links {
  width: 100%;
  position: relative;
  background-color: #000;
  margin: 0 auto;
  padding: 30px 0;
  text-align: center;
}
.social-links:after {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 100%;
  border: solid transparent;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #000;
  border-width: 10px;
  content: " ";  
  margin-left: -10px;
  pointer-events: none; 
}
li {
  display: inline-block;
  padding: 3px 10px 0;
} 
.soc-lnk-btn {
  border-radius: 50%;
  height: 50px;
  opacity: 0.8;
  transition: all .2s ease-out;
}
a:hover img {
  opacity: 1;
  transform: scale(1.1, 1.1);
}

/*
  ========================================
  Border Effect
  ========================================
*/

.brdr { 
width: 15px; 
position: absolute; 
z-index: 9; 
}
.tl { 
top: -10px; 
left: -10px; 
}
.tr { 
top: -10px; 
right: -10px; 
}
.bl { 
bottom: -10px; 
left: -10px; 
}
.br { 
bottom: -10px; 
right: -10px; 
}
.brdr .a { 
width: 5px; 
height: 10px; 
float: left; 
display: block; 
background: #fff; /* #fff */
}
.brdr .b { 
width: 5px; 
height: 5px; 
float: left; 
display: block; 
background: #fff; /* #fff */
}
.brdr .c { 
width: 10px; 
height: 10px; 
float: left; 
display: block; 
background: #FFCC89; 
}
.tr .a, .tr .b, 
.tr .c, .br .a, 
.br .b, .br .c { 
float: right; 
}
.bl .a, 
.br .a { 
border-top: 5px solid #FFCC89; 
}

/*
  ========================================
  Background Colors
  ========================================
*/

#row-01 {
  height: 15%;
  background-color: #00818E;
}
#row-02 {
  height: 15%;
  background-color: #0091A0;
}
#row-03 {
  height: 10%;
  background-color: #00A0AC;
}
#row-04 {
  height: 10%;
  background-color: #01B2BE;
}
#row-05 {
  height: 10%;
  background-color: #01C8D2;
}
#row-06 {
  height: 10%;
  background-color: #54D8E4;
}
#row-07 {
  height: 5%;
  background-color: #91E4EC;
}
#row-08 {
  height: 5%;
  background-color: #BEDAF5;
}
#row-09 {
  height: 5%;
  background-color: #D6CEEF;
}
#row-10 {
  height: 5%;
  background-color: #FCB3FC;
}
#row-11 {
  height: 10%;
  background-color: #FFCC89;
}
