/* Reset */
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}
h1, h2, h4 {
  color: #99F;
  font-family: 'Montserrat';
  font-weight: normal; 
}
a {
  text-decoration: none;
}
nav {
  margin-top: 25px;
  margin-bottom: 80px;
}
.wrapper {
  width: 90%;
  margin: auto;
}


/* Intro */
h2 {
  width: 35%;
  xbackground-color: red;
  border-bottom: 2px solid;
  color: #666;
  font-size: 1.5em;
  padding-bottom: 20px;
  padding-top: 60px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
}


/* Header */
header::after {
  content: " ";
  clear: both;
  display: block;
}
header h1 {
  xbackground-color: red;
  float: left;
  font-size: 2.5em;
  xline-height: 0;
  padding: 25px 0;
  position: relative;
}
header h4 {
  xbackground-color: #000;
  float: left;
  font-size: 1.5em;
  letter-spacing: 0.3em;
  xmargin: 0;
  padding: 25px 0 0 0;
  position: relative;
  bottom: -10px;
  text-transform: uppercase;
}
.info {
  xbackground-color: red;
  padding-top: 34px;
  xmargin: 0 -2px;
}
/*  */
.info a {
  xborder: 5px solid red;
  xborder-radius: 100%;
  color: #666;
  xfont-size: 11em;
}
.ion-ios-help-outline {
  xfont-size: 11em;
}
header .top-header .info a small {
  width: 50%;
  background-color: #CCF;
  color: #fff;
  display: none;
  font-size: 1.1em;
  line-height: 1.5em;
  xmargin-left: 5px;
  padding: 10px;
  position: absolute;
  left: 19.25%;
  top: 25%;
  z-index: 1;
}
header .top-header .info a:hover small {
  display: block;
}
.top-header::after {
  content: " ";
  clear: both;
  display: block;
}
header .nav-buttons {
  float: right;
}
header .nav-buttons li {
  float: left;
  margin: 23px 0 0 15px;
}
header .nav-buttons li a {
  border: 5px solid;
  border-radius: 100%;
  color: #666;
  display: block;
  line-height: 1em;
  padding: 5px 9px;
  position: relative;
}
header .nav-buttons li a i {
  font-size: 1.5em;
  margin: 0 -2px;
}
header .nav-buttons li a span {
  xbackground-color:#CCC;
  border-radius: 5px;
  display: none;
  letter-spacing: 1px;
  padding: 7px;
  position: absolute;
  left: 0;
  bottom: -2.5em;
  text-align: center;
  transform: translateX(-50%);
}
header .nav-buttons li a:hover {
  color: #fff;
  background-color: #666;
  border: 5px solid #666;
  xborder-radius: 100%;
}
header .nav-buttons li a:hover span {
  color: #666;
  display: block;
}


/* Navigation */
nav {
  background-color: #99F;
  text-align: center;
}
nav::after {
  content: " "; 
  clear: both; 
  display: block;
}
nav ul {
  display: block; 
  position: relative;
}
nav ul li {
  display: inline-block;
}
nav ul li:hover {
  background-color: #CCF;
}
nav ul li a {
  color: #fff;
  display: block;
  font-size: 1.4em;
  line-height: 1.4em;
  padding: 10px 50px;
}
nav ul li:hover a {
  color: #000;
}
nav ul li .sub-menu {
  background-color: #CCF;
  display: none;
  xpadding: 15px;
  position: absolute;
  left: 0;
  right: 0;
}
nav ul li:hover .sub-menu {
  display: block;
}
.thumbs li img {
  display: block;
}
